on:
  push:
    branches:
      - master
  pull_request:

name: Security

jobs:
  runaSecurityAudit:
    name: Run a security audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v5.0.0
      
      - run: npm audit
