name: Linting

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - uses: actions/setup-node@v5.0.0
        with:
          node-version: 18

      - name: Setup
        run: brew install ktlint

      - name: Environment Information
        run: |
          node --version
          npm --version
          ktlint --version
      - name: Linting
        run: npm run lint

  auto-merge:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Automatically merge dependabot upgrades
        uses: fastify/github-action-merge-dependabot@v3.11.2
        with:
          target: minor
